
<style type="text/css">
#h1 {
    color: orange;
    text-align: center;
}
table{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	
}
table th {
	background-color: green;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table td {
	background:#dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	width:80px;
	height:10px;
}

}
</style>


