#box{
	display: block;
	margin: 150px auto;
	color: #ffffff;
	-webkit-border-radius: 10px;
	opacity: 0.6;
	background: red;
	width: 100px;
	height: 70px;
	-webkit-transition:-webkit-transform 2s, 
		opacity 2s, background 2s,
		width 2s, height 2s;
}
#box:hover{
	-webkit-transform: rotate(360deg);
	opacity: 1;
	background:#1ec7e6;
	width: 150px;
	height:100px;
}
#box2{
	display: block;
	margin: 150px auto;
	color: #ffffff;
	-webkit-border-radius: 10px;
	opacity: 0.6;
	background: red;
	width: 100px;
	height: 70px;
	-webkit-transition:-webkit-transform 2s, 
		opacity 2s, background 2s,
		width 2s, height 2s;
}
#box2:hover{
	-webkit-transform: rotate3d(100deg,200deg,300deg);
	
	opacity: 1;
	background:#1ec7e6;
	width: 150px;
	height:100px;
}